Library-System-Web-portal/Connected Services/LibraryService/LibraryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8908/LibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" />
  <xs:element name="InsertUpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="signUp" nillable="true" type="q1:SignUpDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateUserDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="signUp" nillable="true" type="q2:SignUpDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUserExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="CheckUserExistsResult" nillable="true" type="q3:SignUpDetailLists" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="CheckAuthorResult" nillable="true" type="q4:AuthorManage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="basicFilter" nillable="true" type="q5:BasicFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="GetAuthorDetailsResult" nillable="true" type="q6:AuthorManage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="authorDetails" nillable="true" type="q7:AuthorDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="authorDetails" nillable="true" type="q8:AuthorDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAuthorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publisherID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPublisherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="CheckPublisherResult" nillable="true" type="q9:PublisherManage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublisherDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="basicFilter" nillable="true" type="q10:BasicFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPublisherDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="GetPublisherDetailsResult" nillable="true" type="q11:PublisherManage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="publisherDetail" nillable="true" type="q12:PublisherDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPublisherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPublisherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" minOccurs="0" name="publisherDetail" nillable="true" type="q13:PublisherDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePublisherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePublisherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePublisher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publisherID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePublisherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePublisherResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>