Library-System-Web-portal/Connected Services/LibraryService/LibraryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LibraryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8908/LibraryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8908/LibraryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8908/LibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILibraryService_InsertUpdateUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdateUserDetails" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_InsertUpdateUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdateUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_CheckUserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExists" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_CheckUserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_CheckAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_CheckAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthorDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorDetails" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetAuthorDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_InsertAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_InsertAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_UpdateAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_UpdateAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_DeleteAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthor" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_DeleteAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_CheckPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPublisher" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_CheckPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetPublisherDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublisherDetails" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_GetPublisherDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublisherDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_InsertPublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPublisher" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_InsertPublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPublisherResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_UpdatePublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePublisher" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_UpdatePublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePublisherResponse" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_DeletePublisher_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePublisher" />
  </wsdl:message>
  <wsdl:message name="ILibraryService_DeletePublisher_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePublisherResponse" />
  </wsdl:message>
  <wsdl:portType name="ILibraryService">
    <wsdl:operation name="InsertUpdateUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/InsertUpdateUserDetails" message="tns:ILibraryService_InsertUpdateUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/InsertUpdateUserDetailsResponse" message="tns:ILibraryService_InsertUpdateUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/CheckUserExists" message="tns:ILibraryService_CheckUserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/CheckUserExistsResponse" message="tns:ILibraryService_CheckUserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/CheckAuthor" message="tns:ILibraryService_CheckAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/CheckAuthorResponse" message="tns:ILibraryService_CheckAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetAuthorDetails" message="tns:ILibraryService_GetAuthorDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetAuthorDetailsResponse" message="tns:ILibraryService_GetAuthorDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/InsertAuthor" message="tns:ILibraryService_InsertAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/InsertAuthorResponse" message="tns:ILibraryService_InsertAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/UpdateAuthor" message="tns:ILibraryService_UpdateAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/UpdateAuthorResponse" message="tns:ILibraryService_UpdateAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/DeleteAuthor" message="tns:ILibraryService_DeleteAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/DeleteAuthorResponse" message="tns:ILibraryService_DeleteAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/CheckPublisher" message="tns:ILibraryService_CheckPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/CheckPublisherResponse" message="tns:ILibraryService_CheckPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublisherDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/GetPublisherDetails" message="tns:ILibraryService_GetPublisherDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/GetPublisherDetailsResponse" message="tns:ILibraryService_GetPublisherDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/InsertPublisher" message="tns:ILibraryService_InsertPublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/InsertPublisherResponse" message="tns:ILibraryService_InsertPublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/UpdatePublisher" message="tns:ILibraryService_UpdatePublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/UpdatePublisherResponse" message="tns:ILibraryService_UpdatePublisher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePublisher">
      <wsdl:input wsaw:Action="http://tempuri.org/ILibraryService/DeletePublisher" message="tns:ILibraryService_DeletePublisher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILibraryService/DeletePublisherResponse" message="tns:ILibraryService_DeletePublisher_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILibraryService" type="tns:ILibraryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUpdateUserDetails">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/InsertUpdateUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserExists">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/CheckUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/CheckAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorDetails">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetAuthorDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/InsertAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckPublisher">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/CheckPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublisherDetails">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/GetPublisherDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPublisher">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/InsertPublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePublisher">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/UpdatePublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePublisher">
      <soap:operation soapAction="http://tempuri.org/ILibraryService/DeletePublisher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port name="BasicHttpBinding_ILibraryService" binding="tns:BasicHttpBinding_ILibraryService">
      <soap:address location="http://localhost:8908/LibraryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>