Library-System-Web-portal/Connected Services/LibraryService/LibraryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4208/LibraryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service" />
  <xs:element name="InsertUpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service" minOccurs="0" name="signUp" nillable="true" type="q1:SignUp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateUserDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>