Library-System-Web-portal/Connected Services/LibraryService/LibraryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library_System_Web_portal_Service.Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SignUpDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pincode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignUpDetails" nillable="true" type="tns:SignUpDetails" />
  <xs:complexType name="SignUpDetailLists">
    <xs:sequence>
      <xs:element minOccurs="0" name="SignUpDetails" nillable="true" type="tns:ArrayOfSignUpDetails" />
      <xs:element minOccurs="0" name="TotalRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SignUpDetailLists" nillable="true" type="tns:SignUpDetailLists" />
  <xs:complexType name="ArrayOfSignUpDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SignUpDetails" nillable="true" type="tns:SignUpDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSignUpDetails" nillable="true" type="tns:ArrayOfSignUpDetails" />
</xs:schema>